/*
 https://www.radix-ui.com/colors/custom using the following:
 - Accent: #DD3311 (chosen from https://dev.to/finnhvman/which-colors-look-good-on-black-and-white-2pe6)
 - Gray: #8B8D98 (default)
 - Background: #FFFFFF (default)

 Then made a few more changes:
 - :root, .light, .light-theme -> :root, [data-theme='light']
 - Removed alphas/presets (e.g. --red-a1, --red-contrast)
 - Renamed --red to --primary for easy swapping
 - Added --gray-0
 - Removed alpha/preset colors
 */
:root, [data-theme='light'] {
  //--primary-1: #fffcfb;
  //--primary-2: #fff6f2;
  //--primary-3: #ffe9e1;
  //--primary-4: #ffd7c9;
  //--primary-5: #ffc9b7;
  //--primary-6: #ffb7a1;
  //--primary-7: #ffa187;
  //--primary-8: #fb8668;
  //--primary-9: #ff4500;
  //--primary-10: #f23100;
  //--primary-11: #e12300;
  //--primary-12: #5f2618;

  //--primary-1: #fdfdfe;
  //--primary-2: #f7f9ff;
  //--primary-3: #ecf2ff;
  //--primary-4: #dee9ff;
  //--primary-5: #cedeff;
  //--primary-6: #bad0ff;
  //--primary-7: #a4beff;
  //--primary-8: #84a3fd;
  //--primary-9: #46f;
  //--primary-10: #3d5ce3;
  //--primary-11: #3754da;
  //--primary-12: #1c2b64;

  --primary-1: #fbfefc;
  --primary-2: #f4fbf7;
  --primary-3: #e6f6ec;
  --primary-4: #d6f0e0;
  --primary-5: #c4e8d2;
  --primary-6: #aeddc1;
  --primary-7: #90cdaa;
  --primary-8: #62b88a;
  --primary-9: #085;
  --primary-10: #007a48;
  --primary-11: #00814e;
  --primary-12: #1d3a2b;
}

//@supports (color: color(display-p3 1 1 1)) {
//  @media (color-gamut: p3) {
//    :root, [data-theme='light'] {
//      --primary-1: oklch(99.3% 0.0033 35.4);
//      --primary-2: oklch(98.1% 0.0141 35.4);
//      --primary-3: oklch(95.6% 0.0351 35.4);
//      --primary-4: oklch(92.2% 0.0782 35.4);
//      --primary-5: oklch(89.1% 0.1043 35.4);
//      --primary-6: oklch(85.5% 0.1141 35.4);
//      --primary-7: oklch(80.4% 0.1241 35.4);
//      --primary-8: oklch(74.4% 0.1502 35.4);
//      --primary-9: oklch(66% 0.2294 35.4);
//      --primary-10: oklch(62.1% 0.2328 35.4);
//      --primary-11: oklch(58.2% 0.2274 35.4);
//      --primary-12: oklch(34.9% 0.0871 35.4);
//    }
//  }
//}

:root, [data-theme='light'] {
  --gray-0: #fff;
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, [data-theme='light'] {
      --gray-1: oklch(99.1% 0.0015 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.0045 277.7);
      --gray-4: oklch(93.1% 0.0061 277.7);
      --gray-5: oklch(91% 0.0077 277.7);
      --gray-6: oklch(88.8% 0.0093 277.7);
      --gray-7: oklch(85.3% 0.0117 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.0165 277.7);
      --gray-10: oklch(61% 0.0161 277.7);
      --gray-11: oklch(50.3% 0.0139 277.7);
      --gray-12: oklch(24.1% 0.0099 277.7);
    }
  }
}