@use 'variables' as *;

button, .button {
  background: none;
  border: none;
  color: var(--color-text);

  width: $button-size;
  height: $button-size;
  padding: $button-spacing;
  margin: $button-spacing;
  border-radius: $button-border-radius;
  line-height: 1;
  cursor: pointer;

  &:hover {
    background: var(--color-island-hover);
  }

  &:disabled, &.disabled {
    color: var(--color-text-disabled);
    background: none;
    cursor: default;
  }

  .ri {
    font-size: 1.25rem;
  }
}

// Class that can be applied to a <a> to make it look like a button
.button {
  display: inline-block;
  line-height: $button-size;
  text-align: center;
  padding: 0;
  text-decoration: none;
}

.text-button {
  height: auto;
  width: auto;
  min-width: 8rem;
  padding: 1rem;
}

.link {
  text-decoration: none;
  color: var(--color-text-link);
}
