@use 'variables' as *;

#canvas-container {
  background: var(--color-canvas-bg);

  flex: 1;

  position: relative;

  #selection-canvas {
    // Set opacity on overall canvas (not using globalAlpha) due to overlapping polygons
    opacity: 0.3;
  }
}

#canvas-message {
  position: absolute;
  bottom: 1rem;
  left: calc(50%);
  transform: translate(-50%, 0);
  z-index: 1;

  display: flex;
  align-items: center;
  background: var(--color-dialog-bg);
  border: 2px solid var(--color-warning);
  padding: 0.5rem 1rem;
}

#canvas-details {
  display: flex;
  flex-direction: row;

  // Using monospace so coords don't shift around as they are rapidly updated
  font-family: $font-monospace;

  .canvas-dimensions, .mouse-coordinates, .selection-dimensions {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .canvas-dimensions .value {
    cursor: pointer;
  }
}

#export-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

#export-debug {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#font-ratio-tester {
  position: absolute;
}
