@use 'variables' as *;

$char-picker-height: 20rem;
$char-picker-width: 25rem;
$char-picker-border-color: #000;
$char-picker-char-width: 12px;
$char-picker-char-height: $char-picker-char-width * calc(5 / 3);
$char-picker-char-border-size: 2px;
$char-picker-arrow-size: 12px;
$char-picker-arrow-border-size: $char-picker-arrow-size + 2px;

.char-picker-container {
  position: relative;

  display: flex;
  //justify-content: center;
  align-items: center;
}

.char-well {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  font-family: $font-monospace;
  position: relative;
  overflow: hidden;
  background: var(--color-island-button);
}

@keyframes char-picker-rotate {
  to {
    --char-picker-angle: 360deg;
  }
}
@property --char-picker-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
$quick-swap-border: linear-gradient(
                var(--char-picker-angle),
                var(--color-island-button) 0%,
                var(--color-primary) 50%,
                var(--color-primary) 100%
);
.char-picker-container.animated-border {
  .char-well {
    $border-size: 3px;
    height: calc($island-button-size - $border-size * 2);
    width: calc($island-button-size - $border-size * 2);
    border: $border-size solid #0000;
    background: linear-gradient(to bottom, var(--color-island-button), var(--color-island-button)) padding-box, $quick-swap-border border-box;
    animation: 4s char-picker-rotate linear infinite;

    &:hover:not(.disabled):not(.active) {
      background: linear-gradient(to bottom, var(--color-island-hover), var(--color-island-hover)) padding-box, $quick-swap-border border-box;
    }
  }
}


.char-picker-popup {
  position: absolute;
  width: $char-picker-width;
  height: $char-picker-height;
  z-index: 4;
  background: var(--color-island-bg);
  border: 1px solid var(--color-island-border);

  box-shadow: var(--color-island-shadow);

  font-family: $font-monospace;
  padding: 0.5rem;

  .char-list {
    // https://github.com/Grsmto/simplebar/issues/473#issuecomment-653741529
    overflow-y: auto;
    height: 100%;

    .simplebar-content {
      display: flex;
      flex-direction: column;
      overflow: auto;
      margin-right: 0.75rem; // so chars don't overlap scrollbar
    }
  }

  .section-title {
    &:not(:first-child) {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid var(--color-island-border);
    }

    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .char-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 5px;
    margin-top: 5px;

    font-size: 16px;

    .spacer {
      width: $char-picker-char-width + 2 * $char-picker-char-border-size;
      height: $char-picker-char-height + 2 * $char-picker-char-border-size;
    }

    .break {
      flex-basis: 100%;
    }

    .char {
      width: $char-picker-char-width;
      height: $char-picker-char-height;

      display: flex;
      align-items: center;
      justify-content: center;

      border: $char-picker-char-border-size solid transparent;

      &.large {
        font-size: 14px;
        width: 5rem;
        border: $char-picker-char-border-size solid var(--color-island-border)
      }

      &.selected {
        border: $char-picker-char-border-size solid var(--color-primary);
      }

      &:hover {
        border: $char-picker-char-border-size solid var(--color-primary);
        cursor: pointer;
      }
    }
  }
}

.char-picker-popup.position-right {
  /* Outer triangle (border) */
  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -$char-picker-arrow-border-size;
    width: 0;
    height: 0;
    border-top: $char-picker-arrow-border-size solid transparent;
    border-bottom: $char-picker-arrow-border-size solid transparent;
    border-right: $char-picker-arrow-border-size solid var(--color-island-border);
  }

  /* Outer triangle */
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -$char-picker-arrow-size;
    width: 0;
    height: 0;
    border-top: $char-picker-arrow-size solid transparent;
    border-bottom: $char-picker-arrow-size solid transparent;
    border-right: $char-picker-arrow-size solid var(--color-island-bg);
  }
}

.char-picker-popup.position-bottom {
  /* Outer triangle (border) */
  &::before {
    content: "";
    position: absolute;
    top: -$char-picker-arrow-border-size;
    left: 6px;
    width: 0;
    height: 0;
    border-left: $char-picker-arrow-border-size solid transparent;
    border-right: $char-picker-arrow-border-size solid transparent;
    border-bottom: $char-picker-arrow-border-size solid var(--color-island-border);
  }

  /* Inner triangle (fill) */
  &::after {
    content: "";
    position: absolute;
    top: -$char-picker-arrow-size;
    left: 8px;
    width: 0;
    height: 0;
    border-left: $char-picker-arrow-size solid transparent;
    border-right: $char-picker-arrow-size solid transparent;
    border-bottom: $char-picker-arrow-size solid var(--color-island-bg);
  }
}

