
// ---------------------------------------------------------------------- color-picker well/button css

.color-picker {
  display: flex;
  flex-direction: row;

  .color-well {
    cursor: pointer;
    border: 1px solid var(--color-island-border);

    .ri {
      display: none;
    }
  }
}

.color-picker.split-mode {
  .apply-color, .color-well {
    border: 1px solid var(--color-island-border);
    box-sizing: border-box;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .apply-color {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    width: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  .color-well {
    display: flex;
    align-items: center;

    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    width: 1.5rem;

    .ri {
      display: inline;
    }
  }

  &.picker-open {
    .color-well {
      background: var(--color-island-border);
    }
  }
}


// ---------------------------------------------------------------------- vanilla-picker overrides

.picker_wrapper {
  width: 26.3em !important; // Chosen so that the bottom-left .picker_sample is square

  &.popup {
    z-index: 4 !important;
  }

  .picker_editor {
    width: 7rem;
  }

  .picker_done, .picker_cancel {
    button {
      box-shadow: none !important;
      width: auto;
      padding: 0 0.5rem;
      margin: 0;
    }
  }

  // Overriding to make look like a call-out button. Cannot just add call-out class because
  // needs to be higher priority than color-picker's styles.
  .picker_done button {
    background: var(--color-button-call-out);
    color: var(--color-button-call-out-text);
    border-color: var(--color-button-call-out);
    &:hover {
      background: var(--color-button-call-out-hover);
    }
  }
  .picker_cancel button {
    color: var(--color-text);
    background: transparent;
    border: 1px solid var(--color-text);
    &:hover {
      background: var(--color-island-hover);
    }
  }
}

[data-theme="light"], [data-theme="dark"] {
  .picker_wrapper.popup {
    background: var(--color-island-bg);
    box-shadow: var(--color-island-shadow);
    border: 1px solid var(--color-island-border);

    .picker_arrow::before {
      border: 1px solid var(--color-island-border);
      box-shadow: var(--color-island-shadow);
    }

    .picker_arrow::after {
      border-top: 1px solid var(--color-island-border);
    }

    .picker_arrow::before, .picker_arrow::after {
      background: var(--color-island-bg);
    }

    // Default arrow seems to be off by 1 pixel, this corrects it
    &.popup_left .picker_arrow, &.popup_right .picker_arrow {
      top: -1px;
    }
    &.popup_top .picker_arrow, &.popup_bottom .picker_arrow {
      left: -1px;
    }
  }
}