@use 'variables' as *;

.dialog-form {
  label, .form-row {
    display: flex;
    align-items: center;
    height: 34px; // At least 34px so color well showing/hiding does not modify height
    gap: 0.5rem;
    margin-bottom: 0;
  }

  .label-header {
    font-weight: bold;
    margin: 0.25rem 0 0.25rem 0;
  }

  input[type="text"], input[type="number"] {
    width: 4rem;

    &.error {
      outline: 1px solid var(--color-error);
    }

    &.long {
      width: 15rem;
    }
  }

  .color-well {
    height: 32px;
    width: 32px;
    border-radius: 4px;
  }
}

#new-file-dialog, #open-file-dialog, #background-dialog {
  // Showing overflow so color picker / warning corner does not get constrained by dialog boundaries.
  // Dialog dimensions must be set so that normal content does not overflow, otherwise it will look bad.
  overflow: visible;
}

#unicode-dialog {
  .unicode-chars-container {
    display: block;
    height: auto;
  }
  textarea {
    margin-top: 6px;
    font-family: $font-monospace;
    height: 10rem;
    font-size: 1.25rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.unsaved-warning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .save {
    width: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    gap: 4px;

    &:hover {
      background-color: var(--color-dialog-hover);
    }
  }

  .close {
    position: absolute;
    border: 1px solid var(--color-warning);
    border-radius: 100px;
    background: var(--color-dialog-bg);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1rem;
    right: -1rem;
    .ri {
      font-size: 1rem;
    }
    &:hover {
      background: var(--color-dialog-hover);
    }
  }
}

#resize-dialog {
  .anchor-options {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;

    > div {
      flex: 1 1 auto;

      display: flex;
      flex-direction: row;

      > div {
        flex: 1 1 auto;

        margin: 2px;
        background: var(--color-resize-options);
        cursor: pointer;

        &.selected {
          background: var(--color-primary);
        }
      }
    }
  }
}

#font-dialog {
  .font-example {
    margin-top: 0.75rem;
    border-left: 1px solid var(--color-text);
    padding: 0.25rem;
  }
}

#export-file-dialog {
  #example-container {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-dialog-border);

    display: flex;
    flex-direction: column;

    #example-img-and-text {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      margin-top: 1rem;

      img {
        height: 10rem;
        border: 1px solid var(--color-dialog-border);
      }
      #example-text {
        flex-grow: 1;
        min-width: 0;
        background: var(--color-dialog-border);
        border: 1px solid var(--color-dialog-border);
        height: 15rem;
        margin: 0;
        pre {
          margin: 0.5rem 0;
          white-space: pre-wrap;
          word-break: break-word;
        }
      }
    }
  }

  .export-warning {
    border: 1px solid var(--color-warning);
    padding: 1rem;
    .ri {
      color: var(--color-warning);
    }
  }
}
