@use 'variables' as *;

#frame-controller {
  background: var(--color-sidebar-bg);

  display: flex;
  // Note: More flex settings get set below, depending on frames-on-left vs. frames-on-bottom

  .tools {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
    }
  }

  .list {
    .simplebar-content {
      display: flex;
    }
  }

  .frame {
    flex: 1 0 auto;

    position: relative;
    width: $frame-size;
    max-width: $frame-size;
    height: $frame-size;
    max-height: $frame-size;

    cursor: pointer;
    border: $frame-border-size solid var(--color-frame-border);
    background: var(--color-canvas-bg);

    .frame-index, .frame-ticks {
      display: flex;
      position: absolute;
      z-index: 2;
      justify-content: center;
      align-items: center;
      background: var(--color-frame-border);
      color: var(--color-text-white);
    }
    .frame-index {
      width: 25px;
      height: 25px;
      top: -#{$frame-border-size};
      left: -#{$frame-border-size};
      border-bottom-right-radius: 4px;
    }
    .frame-ticks {
      padding: 0 3px;
      height: 20px;
      bottom: -#{$frame-border-size};
      right: -#{$frame-border-size};
      border-top-left-radius: 4px;

      font-size: 0.875rem;

      &.dirty {
        //font-weight: bold;
      }
    }

    &.selected {
      border-color: var(--color-frame-selected);
      .frame-index, .frame-ticks {
        background: var(--color-frame-selected);
      }
    }

    &.placeholder {
      border: $frame-border-size dashed var(--color-frame-selected);
    }

    &.range-selection-sibling {
      visibility: hidden;
    }
  }
}

.frames-on-left #frame-controller {
  flex-direction: row;

  border-right: 1px solid var(--color-sidebar-border);

  .tools {
    flex-direction: column;
    margin: $main-spacing $half-spacing;

    .section-header {
      writing-mode: vertical-rl;
      margin-bottom: 0.5rem;
    }

    > div {
      flex-direction: column;
    }
  }

  .list {
    width: $frame-size + 2 * $frame-border-size + $scrollbar-width;

    // https://github.com/Grsmto/simplebar/issues/473#issuecomment-653741529
    overflow-y: auto;
    height: 100%;

    .simplebar-content-wrapper {
      height: 100% !important;
    }
    .simplebar-content {
      flex-direction: column;
    }
    .simplebar-track.simplebar-vertical {
      background-color: var(--color-sidebar-bg);
    }
  }

  .frame {
    margin-top: $main-spacing;

    &:last-child {
      margin-bottom: $main-spacing;
    }
  }
}

.frames-on-bottom #frame-controller {
  flex-direction: column;

  border-top: 1px solid var(--color-sidebar-border);

  &.minimized {
    margin: 0 $main-spacing;
    margin-bottom: 2px; // This was chosen so 'maximize' button aligns with sidebar 'maximize' button when both minimized
  }

  .tools {
    flex-direction: row;
    margin: $half-spacing $main-spacing;

    .section-header {
      margin-right: 1rem;
    }

    > div {
      flex-direction: row;
    }
  }

  .list {
    height: $frame-size + 2 * $frame-border-size + $scrollbar-width;

    .simplebar-content-wrapper {
      width: 100% !important; // note: this is not really needed, but the height:100% is needed in other orientation
    }
    .simplebar-content {
      flex-direction: row;
    }
    .simplebar-track.simplebar-horizontal {
      background-color: var(--color-sidebar-bg);
    }
  }

  .frame {
    margin-left: $main-spacing;

    &:last-child {
      margin-right: $main-spacing;
    }
  }
}

.ticks-tooltip {
  margin: 0.5rem 0;
}