@use 'variables' as *;

// The following styles are used to generate full page-blocking content (a div coverts entire page and displays a message)

#full-screen-loader {
  position: absolute;
  width: 100%;
  height: 100%;

  background: var(--color-overlay);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 102; // dialogs have 101, this needs to be on top

  font-size: 2rem;
}



#load-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  position: absolute;
  background: var(--color-sidebar-bg);
  z-index: 2;

  .title {
    font-size: 1.5rem;
  }

  table {
    border-collapse: separate; // Needed for border-spacing to work
    border-spacing: 0.5rem 2rem;
  }
}

/* Hiding entire app on mobile devices */
#mobile-warning {
  display: none;
}

@media (max-width: 850px), (max-height: 500px) {
  #mobile-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 4rem;
    gap: 1rem;
    font-size: 2rem;
    .ri { font-size: 2rem; }

    // Always using dark-mode settings for this message
    color: white;
    background: #202124;

    > div {
      text-align: center;
    }
  }

  #main-content {
    display: none !important;
  }
}
