@use 'variables' as *;

#header-content {
  .left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
  }

  .middle-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-section {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }

  button, .button {
    &:hover {
      background: var(--color-main-menu-hover);
    }
  }

  .shortcut {
    color: var(--color-font-muted);
    margin-left: 1rem;
  }

  .current-theme {
    font-size: 1.25rem;
  }
}

#header-content .logo {
  padding: 0 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: auto;
  color: var(--color-primary);

  img {
    height: 24px;
  }
}

#header-content {
  #file-name {
    font-size: 1.25rem;
    letter-spacing: 1px;

    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border: 1px solid transparent;

    // Make sure long file names do not overlap with file menu
    max-width: calc(100vw - 750px); // 750 is determined from the width of the file menu (~350px) multiplied by 2 + some padding
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover, &:focus {
      border: 1px dashed var(--color-contrast);
      cursor: text;
    }
  }

  #active-file-icon {
    cursor: pointer;
    padding: 0.5rem 0.15rem 0.5rem 0.5rem
  }
}

.horizontal-menu {
  height: 100%;
  margin: 0;
  padding: 0 0 0 $header-padding;
  display: flex;
  align-items: center;
  cursor: default;

  > li {
    position: relative;
    display: inline-block;
    padding: $header-padding 1rem;
    border-radius: $header-padding;

    &.hovered {
      background-color: var(--color-main-menu-hover);
      cursor: pointer;
    }
    &.visible {
      > ul {
        display: block;
      }
    }

    > span {
      height: 100%;
      display: flex;
      align-items: center;
    }

    > ul {
      display: none;
      position: absolute;
      top: calc($header-height + 2px);
      left: 0;

      border-radius: $header-padding;
      border: 1px solid var(--color-main-menu-hover);
      overflow: hidden;

      background-color: var(--color-main-menu-bg);
      list-style: none;
      padding: 0;

      min-width: 12rem;
      z-index: 3;
      box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.3);
      cursor: default;

      > li {
        padding: 0.75rem 1rem;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.disabled {
          pointer-events: none;
          color: var(--color-font-muted);
        }

        &:hover {
          background-color: var(--color-main-menu-hover);
          cursor: pointer;
        }

        &.break {
          pointer-events: none;
          cursor: default;
          border-bottom: 1px solid var(--color-main-menu-hover);
          padding: 0;
          margin: 0.5rem 0;
        }
      }
    }
  }

  &.right-aligned {
    > li > ul {
      left: auto;
      right: 0;
    }
  }

}