@use 'variables' as *;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;

  font-family: $font-sans-serif;
  font-size: $font-size-base;
  color: var(--color-text);
  background: var(--color-canvas-bg);
}

#main-content {
  height: 100%;
  width: 100%;

  display: flex;
}

#frames-and-canvas {
  flex: 1; // Fill remaining width
  min-width: 0; // This combined with flex:1 makes the div not use more space than available https://stackoverflow.com/a/76670135

  display: flex;

  &.frames-on-bottom {
    flex-direction: column;
  }
  &.frames-on-left {
    flex-direction: row-reverse;
  }
}

#tools-and-canvas {
  flex: 1;
  min-height: 0; // This combined with flex:1 makes the div not use more space than available https://stackoverflow.com/a/76670135

  display: flex;
  flex-direction: row;
  position: relative;
}

.minimized {
  flex: 0 1 auto !important;

  button:not(.show-when-minimized) {
    display: none;
  }

  .minimizable {
    display: none !important;
  }
}

.stack {
  position: relative;
  //height: auto;

  > div {
    position: absolute;
    top: 0;
    left: 0;
  }
}