@use 'variables' as *;

#tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--color-sidebar-bg);
}

.icon-menu-option, .icon-dropdown-option {
  position: relative;

  &[data-value="fill-char"] {
    > .picked-char {
      position: absolute;
      bottom: 1px;
      right: 4px;
      font-size: 0.875rem;
      font-family: $font-monospace;
    }
  }
}

#context-tools-left {
  position: absolute;
  left: $canvas-padding;
  top: $canvas-padding;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#context-tools-top {
  position: absolute;
  top: $canvas-padding;
  left: calc(50%);
  transform: translate(-50%, 0);
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#shape-properties {
  flex-direction: column;
  padding: 0.25rem 0.75rem 0.5rem 0.75rem;
  gap: 0;
  width: 14.5rem; // Enough to fit 5 buttons per row

  .property-group {
    display: flex;
    flex-direction: column;

    // Cannot use something like `&:not(:first-child)` because that doesn't account for hidden children.
    // Have to use javascript to add this class at runtime
    &.subsequent-child {
      margin-top: 0.75rem;
    }

    .group-title {
      white-space: nowrap;
      font-size: 0.875rem;

      // Handles having a tiny button in header (e.g. quickSwapChar)
      display: flex;
      align-items: center;
      gap: 0.25rem;
      height: 22px;
      .action-button {
        font-size: 1rem;
        width: 1rem;
        height: 1rem;
        border-radius: 2px;
        padding: 4px;
        margin-right: -4px;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .group-actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

  }
}

.sub-tool-menu {
  box-shadow: var(--color-island-shadow);
  background: var(--color-island-bg);

  display: flex;
  gap: 0.25rem;

  padding: 0.25rem;
  border-radius: 0.5rem;

  border: 1px solid var(--color-island-border);

  .sub-tool, .action-button, .char-well, .color-well,
  .icon-menu-option, .icon-dropdown-button, .icon-dropdown-option {
    width: $sub-tool-size;
    height: $sub-tool-size;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    overflow: hidden;
    cursor: pointer;

    border-radius: 0.5rem;

    &.solid {
      background: var(--color-island-button);
    }

    &:hover:not(.disabled):not(.active) {
      background: var(--color-island-hover);
    }

    &.disabled {
      color: var(--color-text-disabled);
      cursor: default;
    }

    &.active {
      background: var(--color-primary);
      color: var(--color-text-white);
    }
  }

  // Color picker popup actually becomes a child element of color-well, so cannot use overflow:hidden like other buttons
  .color-well {
    overflow: inherit;
  }
  .color-picker {
    .picker_wrapper {
      top: 60px;
    }
    &.split-mode .picker_wrapper {
      left: -30px;
    }
  }

  &.disabled {
    border-color: var(--color-text-disabled);
    pointer-events: none;
    opacity: 0.5;

    .sub-tool, .icon-menu-option {
      color: var(--color-text-disabled) !important;

      &.active {
        background: inherit;
      }
    }
  }
}

.pre-icon {
  display: inline-block;
  white-space: pre;
  font-family: $font-monospace;
  font-size: 0.55rem;
  line-height: 8px;
}
.char-icon {

}



.icon-dropdown {
  position: relative;

  &.show-dropdown {
    > ul {
      display: block;
    }
  }
  &.hovered {
    background-color: var(--color-island-hover);
    cursor: pointer;
  }

  > ul {
    display: none;
    position: absolute;
    top: 34px;
    left: 0;

    border-radius: $header-padding;
    border: 1px solid var(--color-island-border);
    overflow: hidden;

    background-color: var(--color-island-bg);
    list-style: none;
    padding: 0;

    z-index: 3;
    box-shadow: var(--color-island-shadow);
    cursor: default;

    > li {
      &.icon-dropdown-option {
        border-radius: 0;
      }

      &.active {
        background: var(--color-primary);
      }

      &:hover {
        background-color: var(--color-island-hover);
        cursor: pointer;
      }
    }
  }
}