@use 'variables' as *;

#tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--color-sidebar-bg);
}

.context-tools {
  position: absolute;
  display: flex;
  gap: 1rem;
  z-index: 2;
}

#context-tools-top-left {
  left: $canvas-padding;
  top: $canvas-padding;
  flex-direction: column;

  // I'm not sure if there's a better way to do this. But I need file-name to be behind #context-tools-top-center
  // most of the time, EXCEPT if it's hovered. I have to manipulate z-index of #context containers.
  &:has(#file-name:hover) { z-index: 4; }
}

#context-tools-top-center {
  top: $canvas-padding;
  left: calc(50%);
  transform: translate(-50%, 0);
  z-index: 3;
}

#context-tools-top-right {
  right: $canvas-padding;
  top: $canvas-padding;
}

#context-tools-bottom-left {
  left: $canvas-padding;
  bottom: $canvas-padding;
}

#shape-properties {
  flex-direction: column;
  padding: 0 0.75rem;
  gap: 0;

  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  overflow-x: hidden;

  // Panel only take up as much width as they need
  width: max-content;
  .simplebar-content {
    width: max-content;
  }

  &:has(.simplebar-track.simplebar-vertical[style*="visibility: visible"]) {
    padding-right: 1.25rem;
  }

  .property-group {
    display: flex;
    flex-direction: column;

    max-width: 14.5rem; // Max width fits about 5 action buttons

    // Cannot use :first-child, :not(:first-child), etc. because that doesn't account for hidden children.
    // Have to use javascript to add these classes at runtime
    &.first-child {
      margin-top: 0.25rem;
    }
    &.subsequent-child {
      margin-top: 0.75rem;
    }
    &.last-child {
      margin-bottom: 0.5rem;
    }

    .group-title {
      white-space: nowrap;
      font-size: 0.875rem;

      // Handles having a tiny button in header (e.g. quickSwapChar)
      display: flex;
      align-items: center;
      gap: 0.25rem;
      height: 22px;
      .action-button {
        font-size: 1rem;
        width: 1rem;
        height: 1rem;
        border-radius: 2px;
        padding: 4px;
        margin-right: -4px;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .group-actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

  }
}

.island-panel {
  box-shadow: var(--color-island-shadow);
  background: var(--color-island-bg);

  display: flex;
  gap: 0.25rem;

  padding: 0.25rem;
  border-radius: 0.5rem;

  border: 1px solid var(--color-island-border);

  // Color picker popup actually becomes a child element of color-well, so cannot use overflow:hidden like other buttons
  .color-well {
    overflow: inherit;
  }

  // Designed for popup:bottom
  //.color-picker {
  //  .picker_wrapper {
  //    top: 60px;
  //  }
  //  &.split-mode .picker_wrapper {
  //    left: -30px;
  //  }
  //}

  // Designed for popup:right
  .color-picker {
    .picker_wrapper {
      left: 60px;
    }
    &.split-mode .picker_wrapper {
      left: -30px;
    }
  }

  &.disabled {
    border-color: var(--color-text-disabled);
    pointer-events: none;
    opacity: 0.5;

    .icon-menu-option {
      color: var(--color-text-disabled) !important;

      &.active {
        background: inherit;
      }
    }
  }
}
