@use 'colors' as *;

/**
  Matching font to the user's OS using GitHub's approach:
  https://css-tricks.com/snippets/css/system-font-stack/#aa-method-1-system-fonts-at-the-element-level
  Note: This is the font used in the general UI, not the canvas (canvas font is configurable by user)
 */
$font-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
$font-monospace: ui-monospace, "Segoe UI Mono", Menlo, Monaco, Consolas, "Lucida Console", monospace;
$font-size-base: 14px;

$header-height: 38px;
$header-border-size: 1px;
$header-padding: 7px;
$canvas-padding: 1rem;
$main-spacing: 0.5rem;
$half-spacing: 0.25rem;
$tiny-spacing: 3px;
$button-size: 30px;
$button-spacing: 3px;
$button-border-radius: 4px;
$right-col-width: 225px;
$preview-size: $right-col-width;
$frame-size: 85px;
$frame-border-size: 2px;
$layers-height: 125px;
$scrollbar-width: 18px;
$palette-icon-size: 30px;
$palette-triangle-size: 8px;
$palette-icon-spacing: 4px;
$unicode-icon-size: 1.8rem;
$unicode-triangle-size: 6px;
$island-button-size: 2.5rem;
$well-border-size: 3px;
