
// This file uses both CSS variables (CSS custom properties) and SCSS variables. It uses CSS variables
// for colors so that the javascript files can reference them.

// The following colors are the same regardless of dark-mode / light-mode
:root {
  // Primary color was chosen so that it looks good on both black and white backgrounds:
  // https://dev.to/finnhvman/which-colors-look-good-on-black-and-white-2pe6
  --color-primary: #7755FF;

  --color-font-white: #f6f8fa;
  --color-font-black: #000000;

  --color-button-confirm-bg: #3273F6;
  --color-button-confirm-font: var(--color-font-white);
  --color-dialog-overlay-bg: #424649;
  --color-warning: #f48225;
  --color-error: #f42525;
  --color-selection: #1E90FF;
}

/* DARK MODE (Default) - https://colorffy.com/dark-theme-generator?colors=7755FF-010409 */
:root {
  /** Dark theme surface colors */
  --clr-surface-a0: #010409;
  --clr-surface-a05: #16191B;
  --clr-surface-a10: #1e2022;
  --clr-surface-a20: #363739;
  --clr-surface-a30: #4f5052;
  --clr-surface-a40: #696b6c;
  --clr-surface-a50: #858688;

  /** Dark theme tonal surface colors */
  --clr-surface-tonal-a0: #141120;
  --clr-surface-tonal-a10: #292735;
  --clr-surface-tonal-a20: #403e4b;
  --clr-surface-tonal-a30: #585662;
  --clr-surface-tonal-a40: #72707a;
  --clr-surface-tonal-a50: #8c8b93;
}

/* LIGHT MODE - https://colorffy.com/light-theme-generator?colors=7755FF-FFFFFF */
[data-theme='light'] {
  /** Light theme surface colors */
  //--clr-surface-a0: #ffffff;
  //--clr-surface-a05: #f7f7f7; // Added this intermediate step myself
  //--clr-surface-a10: #f0f0f0;
  //--clr-surface-a20: #e1e1e1;
  //--clr-surface-a30: #d3d3d3;
  //--clr-surface-a40: #c5c5c5;
  //--clr-surface-a50: #b6b6b6;

  /** Light theme surface colors -- modified to be a little bit darker */
  --clr-surface-a0: #ffffff;
  --clr-surface-a05: #f5f5f5; // Added this intermediate step myself
  --clr-surface-a10: #e8e8e8;
  --clr-surface-a20: #d9d9d9;
  --clr-surface-a30: #bdbdbd;
  --clr-surface-a40: #a9a9a9;
  --clr-surface-a50: #909090;

  /** Light theme tonal surface colors */
  //--clr-surface-tonal-a0: #f4edff;
  //--clr-surface-tonal-a10: #e6e0f0;
  //--clr-surface-tonal-a20: #d9d4e1;
  //--clr-surface-tonal-a30: #ccc7d3;
  //--clr-surface-tonal-a40: #bfbbc5;
  //--clr-surface-tonal-a50: #b2afb6;

  /** Light theme tonal surface colors -- modified to maintain original hue better */
  --clr-surface-tonal-a0: hsl(252 100% 96%);
  --clr-surface-tonal-a10: hsl(252 100% 92%);
  --clr-surface-tonal-a20: hsl(252 100% 88%);
  --clr-surface-tonal-a30: hsl(252 100% 86%);
  --clr-surface-tonal-a40: hsl(252 100% 84%);
  --clr-surface-tonal-a50: hsl(252 100% 82%);
}


/* Dark Mode: Mapping Colorffy variables to my CSS variables */
:root {
  --color-background: var(--clr-surface-a0);
  --color-background-border: var(--clr-surface-a10);
  --color-surface: var(--clr-surface-a10);
  --color-surface-hover: var(--clr-surface-a20);
  //--color-surface: var(--clr-surface-tonal-a10);
  //--color-surface-hover: var(--clr-surface-tonal-a20);

  --color-contrast: var(--clr-surface-a50);

  //--color-main-menu-bg: var(--clr-surface-tonal-a10);
  //--color-main-menu-hover: var(--clr-surface-tonal-a20);
  --color-main-menu-bg: var(--clr-surface-a10);
  --color-main-menu-hover: var(--clr-surface-a20);

  --color-canvas-bg: var(--clr-surface-a05);
  //--color-canvas-bg: var(--clr-surface-a10);
  --color-tooltip-bg: var(--clr-surface-a20);
  --color-tooltip-accent: var(--clr-surface-a30);
  --color-dialog-bg: var(--clr-surface-a10);
  --color-dialog-hover: var(--clr-surface-a20);
  --color-well-bg: var(--clr-surface-a20);
  --color-well-hover: var(--clr-surface-a30);

  --color-font: var(--color-font-white);
  --color-font-muted: #949697;
  --color-font-heavy-muted: #555;
  --color-font-inverted: black;
  --color-font-header: #b0b2b3;
  --color-font-title: color-mix(in srgb, var(--color-primary) 70%, white);

  --color-button-bg: #D6D6D7;
  --color-button-bg-hover: #c3c3c4;
  --color-button-font: var(--color-font-black);
}

/* Light Mode: Mapping Colorffy variables to my CSS variables */
[data-theme='light'] {
  --color-background: var(--clr-surface-a0);
  --color-background-border: var(--clr-surface-a10);
  --color-surface: var(--clr-surface-a10);
  --color-surface-hover: var(--clr-surface-a20);
  //--color-surface: var(--clr-surface-tonal-a0);
  //--color-surface-hover: var(--clr-surface-tonal-a10);

  --color-contrast: var(--clr-surface-a50);

  //--color-main-menu-bg: var(--clr-surface-tonal-a0);
  //--color-main-menu-hover: var(--clr-surface-tonal-a10);
  --color-main-menu-bg: var(--clr-surface-a10);
  --color-main-menu-hover: var(--clr-surface-a20);

  --color-canvas-bg: var(--clr-surface-a05);
  //--color-canvas-bg: var(--clr-surface-a10);
  --color-tooltip-bg: var(--clr-surface-a0);
  --color-tooltip-accent: var(--clr-surface-a10);
  --color-dialog-bg: var(--clr-surface-a0);
  --color-dialog-hover: var(--clr-surface-a10);
  --color-well-bg: var(--clr-surface-a20);
  --color-well-hover: var(--clr-surface-a30);

  --color-font: var(--color-font-black);
  --color-font-muted: #959595;
  --color-font-heavy-muted: #bbb;
  --color-font-inverted: white;
  --color-font-header: #595a5a;
  --color-font-title: var(--color-primary);

  --color-button-bg: #f6f8fa;
  --color-button-bg-hover: #eceeee;
  --color-button-font: var(--color-font-black);
}


/**
  Matching font to the user's OS using GitHub's approach:
  https://css-tricks.com/snippets/css/system-font-stack/#aa-method-1-system-fonts-at-the-element-level
  Note: This is the font used in the general UI, not the canvas (canvas font is configurable by user)
 */
$font-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
$font-monospace: ui-monospace, "Segoe UI Mono", Menlo, Monaco, Consolas, "Lucida Console", monospace;
$font-size-base: 14px;

$header-height: 38px;
$header-border-size: 1px;
$header-padding: 7px;
$main-spacing: 0.5rem;
$button-size: 30px;
$button-spacing: 3px;
$button-border-radius: 4px;
$right-col-width: 225px;
$preview-size: $right-col-width;
$frame-size: 85px;
$frame-border-size: 3px;
$layers-height: 125px;
$scrollbar-width: 18px;
$palette-icon-size: 30px;
$palette-triangle-size: 8px;
$palette-icon-spacing: 4px;
$unicode-icon-size: 1.8rem;
$unicode-triangle-size: 6px;
$standard-tool-size: 3rem; // TODO tools.js uses this amount to offset the tooltip for left-side buttons
$sub-tool-size: 2.5rem;
$well-border-size: 3px;
