// Vendor styles
@use 'simplebar/dist/simplebar.css';
@use 'vanilla-picker/dist/vanilla-picker.csp.css';
@use 'tippy.js/dist/tippy.css';
@use 'tippy.js/dist/border.css';
@use 'icomoon/style.css';
@use 'remixicon/remixicon.css';
@use 'jquery-ui/themes/base/core';
@use 'jquery-ui/themes/base/dialog';
@use 'jquery-ui/themes/base/sortable';
@use 'jquery-ui/themes/base/slider';
@use 'jquery-ui/themes/base/tabs';
@use 'jquery-ui/themes/base/theme';

// App styles
@use 'buttons';
@use 'canvas';
@use 'common';
@use 'dialogs';
@use 'editor';
@use 'frames';
@use 'full-page-errors';
@use 'header';
@use 'layout';
@use 'sidebar';
@use 'vendor-overrides';