@import 'simplebar/dist/simplebar.css';
@import 'jquery-ui/themes/base/core';
@import 'jquery-ui/themes/base/dialog';
@import 'jquery-ui/themes/base/sortable';
@import 'jquery-ui-theme'; // Can't import straight from npm, images were broken. So just copied non-image parts over
@import 'jquery-ui/themes/base/slider';
@import 'vanilla-picker/dist/vanilla-picker.csp.css';

@import 'icon-fonts/style.css';

$font: roboto, sans-serif;

$highlight2: #4C8BF5;
$highlight2-dark: #3873d7;

$highlight: #f48225;

$darkest: #202124;
$darker: #282C2F;
$dark: #323639;
$medium-dark: #424649; // custom
$light: #868889; // custom
$lighter: #c6c6c7; // custom
$lightest: #D6D6D7;

$header-height: 36px;
$header-border-size: 3px;
$main-spacing: 0.5rem;
$right-col-width: 220px;
$preview-size: $right-col-width;
$frame-size: 85px;
$frame-border-size: 3px;
$scrollbar-width: 18px;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: $font;
}

body {
  display: flex;
  flex-direction: column;
  background: $darkest;
}

#header-content {
  height: $header-height;
  border-bottom: $header-border-size solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #file-name {
    margin-left: 1rem;
    color: white;
  }

  #file-menu {
    display: flex;
    flex-direction: row;
    height: 100%;

    .file-menu-item {
      font-size: 1rem;
      line-height: 2;

      display: flex;
      justify-content: space-between;
      color: white;
      margin: 0;
      padding: 0 0.75rem;
      height: 100%;
      align-items: center;
      border-radius: 0;

      .ri {
        margin-right: 2px;
      }
    }
  }
}

#body-content {
  flex: 1; // Fill remaining width

  display: flex;
}

#frames-and-canvas {
  flex: 1; // Fill remaining width
  margin: $main-spacing;

  display: flex;

  &.frames-on-bottom {
    flex-direction: column;
  }
  &.frames-on-left {
    flex-direction: row-reverse;
  }
}

#side-content {
  min-width: $right-col-width;
  margin: $main-spacing $main-spacing $main-spacing 0;

  display: flex;
  flex-direction: column;
}

#tools-and-canvas {
  flex: 1;

  display: flex;
  flex-direction: row;
  position: relative;
}

$editing-tool-size: 3rem;
#editing-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;

  .editing-tool, .color-picker {
    width: $editing-tool-size;
    height: $editing-tool-size;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark;
    border: 1px solid $darker;
    color: white;
    font-size: 2rem;
    box-sizing: border-box;

    &:hover:not(.selected) {
      cursor: pointer;
      background: $medium-dark;
    }

    &.selected {
      border: 3px solid $highlight;
      background: $medium-dark;
    }
  }

  #current-color {
    border: 5px solid $dark;
  }
}

$selection-tool-size: 2rem;
#selection-tools {
  position: absolute;
  top: 50%;
  left: $editing-tool-size + 0.5rem;
  transform: translate(0, -50%);
  z-index: 1;

  display: flex;
  flex-direction: column;


  background: $light;
  border: 3px solid $highlight2;
  margin-left: 2px;

  .selection-tool {
    width: $selection-tool-size;
    height: $selection-tool-size;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark;
    border: 1px solid $darker;
    color: white;
    font-size: 1.5rem;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
      background: $medium-dark;
    }
  }

}

#canvas-container {
  background: $lightest;
  flex: 1;

  position: relative;

  #selection-canvas {
    opacity: 0.5; // Set opacity on overall canvas (not using globalAlpha) due to overlapping polygons
  }
}

.simplebar-scrollbar::before {
  background-color: $lightest;
}

.simplebar-scrollbar.simplebar-hover::before, .simplebar-dragging .simplebar-scrollbar::before {
  background-color: $light;
  opacity: 0.6;
}

#layer-controller {
  display: flex;
  flex-direction: column;

  //border: 1px solid $light;
  //margin-top: 1rem;

  .tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-right: $scrollbar-width;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .section-header {
      margin-right: 0.5rem;
    }
  }

  .layer-list {
    height: 150px;
    //max-height: 150px;

    .simplebar-content {
      display: flex;
      flex-direction: column;
    }
    .simplebar-track.simplebar-vertical {
      background-color: $dark;
    }
  }

  .layer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: $right-col-width - $scrollbar-width;
    padding: 2px 2px 2px 6px;

    background: $dark;
    color: white;
    border: 2px solid $light;
    box-sizing: border-box;

    font-size: 0.875rem;
    cursor: pointer;

    &.selected {
      border-color: $highlight;
      background: $highlight;
      color: black;
    }

    &.layer-template {
      display: none;
    }

    &.placeholder {
      background: $dark;
      border: $frame-border-size dashed $highlight;
      height: 1.5rem;
    }

    button {
      margin: 0;
      padding-bottom: 0;

      &:hover {
        background: none;
      }
    }
  }
}

#frame-controller {
  display: flex;
  // Note: More flex settings get set below, based on frames-on-left vs. frames-on-bottom

  .tools {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
    }
  }

  .frame-list {
    .simplebar-content {
      display: flex;
    }
  }

  .frame {
    flex: 1 0 auto;

    position: relative;
    width: $frame-size;
    max-width: $frame-size;
    height: $frame-size;
    max-height: $frame-size;

    cursor: pointer;
    border: $frame-border-size solid $light;
    background: $lightest;

    .frame-index {
      display: flex;
      position: absolute;
      top: -#{$frame-border-size};
      left: -#{$frame-border-size};
      z-index: 2;
      width: 25px;
      height: 25px;
      justify-content: center;
      align-items: center;
      background: $light;
      color: white;
    }

    &.selected {
      border-color: $highlight;
      .frame-index {
        color: black;
        background: $highlight;
      }
    }

    &.frame-template {
      display: none;
    }

    &.placeholder {
      background: $dark;
      border: $frame-border-size dashed $highlight;
    }
  }

}

.frames-on-left #frame-controller {
  flex-direction: row;
  margin-right: 1rem;

  .tools {
    flex-direction: column;
    margin-right: 2px;

    .section-header {
      writing-mode: vertical-rl;
      //transform: rotate(180deg);
      margin-bottom: 0.5rem;
    }

    > div {
      flex-direction: column;
    }
  }

  .frame-list {
    width: $frame-size + 2 * $frame-border-size + $scrollbar-width;
    max-height: calc(100vh - #{$header-height} - #{$header-border-size} - 2 * #{$main-spacing}); // TODO This should be needed, but simplebar messes up without it

    .simplebar-content-wrapper {
      height: 100% !important;
    }
    .simplebar-content {
      flex-direction: column;
    }
    .simplebar-track.simplebar-vertical {
      background-color: $dark;
    }
  }

  .frame {
    margin-bottom: 6px;
  }
}

.frames-on-bottom #frame-controller {
  flex-direction: column;
  margin-top: 1rem;

  .tools {
    flex-direction: row;
    margin-bottom: 2px;

    .section-header {
      margin-right: 1rem;
    }

    > div {
      flex-direction: row;
    }
  }

  .frame-list {
    height: $frame-size + 2 * $frame-border-size + $scrollbar-width;

    .simplebar-content-wrapper {
      width: 100% !important; // note: this is not really needed, but the height:100% is needed in other orientation
    }
    .simplebar-content {
      flex-direction: row;
    }
    .simplebar-track.simplebar-horizontal {
      background-color: $dark;
    }
  }

  .frame {
    margin-right: 6px;
  }
}

#preview-controller {
  #preview-canvas-container {
    position: relative;
    height: $preview-size;
    width: $preview-size;

    margin-top: 0.5rem;

    background: $lightest;
  }
  #preview-fps-container {
    display: flex;
    align-items: center;
    background: $dark;

    #preview-fps-value {
      font-size: 0.875rem;
      color: white;
      margin-left: 0.5rem;
      min-width: 3rem;
      display: flex;
      justify-content: center;
    }
    #preview-fps-slider {
      flex: 1;
      margin: 0.5rem;
    }
  }
}

#export-file-dialog {
  #export-file-format {
    width: 7rem;
  }

  #export-options {
    label {
      display: block;
      margin-bottom: 1rem;
    }
  }

  input[type="text"], input[type="number"] {
    width: 4rem;

    &.error {
      outline: 1px solid red;
    }
  }
}

#export-canvas-container {
  display: none;

  &.is-exporting {
    display: block; // Show so canvas has correct width/height dimentions
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}


#color-controller {
  flex: 1; // fill remaining space
}

#canvas-details {
  display: flex;
  flex-direction: row;

  font-family: monospace;
  color: white;
}

.full {
  width: 100%;
  height: 100%;
}

.absolute-center {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.invisible {
  visibility: hidden; // Will still take up space, but be invisible
}

.prevent-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.draggable {
  cursor: move; /* fallback */
  cursor: grab; /* W3C standards syntax, all modern browser */

  &:active {
    cursor: grabbing;
  }
}

.ri {
  &.active {
    color: $highlight2;
  }
}

.spacer {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

// Hide annoying outline when keyboard is used (if you don't have a mouse, you're gunna have a bad time anyway)
:focus-visible {
  outline: none;
}

.section-header {
  color: $light;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
}

hr {
  border-color: $lightest !important;
  margin: 0.75rem 0;
}

button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px 4px;
  margin: 2px 4px;
  display: inline-block;

  &:hover {
    background: $dark;
  }

  &:disabled {
    color: #666;
    background: none;
  }
}

.ui-slider {
  .ui-slider-handle {
    width: 0.8em;
    height: 0.8em;
    background: $highlight2;
    border-color: $dark;

    &.ui-state-active {
      background: $highlight2-dark;
    }
  }

  &.ui-slider-horizontal {
    height: 0.4em;

    .ui-slider-handle {
      top: -0.3em;

      &.with-text {
        width: 2.2rem;
        height: 1rem;
        top: -0.3rem;
        margin-left: -1.1rem;

        font-size: 0.85rem;
        color: white;
        text-align: center;
      }
    }
  }
}

.ui-widget {
  font-family: $font;

  button {
    font-family: $font;
  }
}

.ui-dialog {
  background: $light;

  &.ui-widget-content {
    border: 2px solid $lightest;
  }

  .ui-widget-header {
    background: $dark;
    color: white;
    margin-bottom: 0.5rem;

    .ui-dialog-titlebar-close.hidden {
      display: none;
    }
  }
  .ui-dialog-content {
    color: white;

    > label, > div {
      display: block;
      margin-bottom: 1rem;
    }

  }
  .ui-dialog-buttonpane {
    background: none;
    padding: 0;

    button {
      margin: 0.5rem 0.3rem 0.5rem 0.2rem;
      padding: 0.25rem 0.5rem;
      min-width: 5rem;
    }
  }
}
.ui-widget-overlay {
  background: $darkest;
  opacity: 0.75;
}
.ui-button {
  background: $lightest;
  color: $darkest;
  border-color: $darkest;

  &:hover {
    background: $lighter;
    border-color: $darkest;
  }

  &.call-out {
    color: white;
    background: $highlight2;

    &:hover {
      background: $highlight2-dark;
    }
  }
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-radius: 0;
}


.picker_wrapper {
  .picker_done {
    &.hidden {
      display: none;
    }

    button {
      margin: 0;
      background: $highlight2;
      border-color: $dark;
      padding: 0.2em 0.3em;
      box-shadow: 0 0 0 1px $light;
      border-radius: 0;

      &:hover {
        background: $highlight2-dark;
      }
    }
  }
}

.icon-line-dashed, .icon-line-solid {
  transform: rotate(-45deg);
}
.icon-paint-bucket {
  margin-left: 0.25rem;
}