
html {
  background: #eee;
}
body {
  margin: 1rem;
}

#main-content {
  display: flex;
}

#canvas-container {
  position: relative;
  background: #ddd;
  display: inline-block;
  margin-left: 0.5rem;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  #selection-canvas {
    background: black;
  }
}

.prevent-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
