@import 'simplebar/dist/simplebar.css';

//$highlight: #4C8BF5;
$highlight: #f48225;
$darkest: #202124;
$darker: #282C2F;
$dark: #323639;
$light: #868889; // custom
$lightest: #D6D6D7;

$main-spacing: 0.5rem;
$right-col-width: 220px;
$frame-size: 85px;
$frame-border-width: 3px;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: roboto, sans-serif;
}

body {
  display: flex;
  background: $darkest;
}

#main-content {
  flex: 1; // Fill remaining width
  margin: $main-spacing;

  display: flex;

  &.frames-on-bottom {
    flex-direction: column;
  }
  &.frames-on-left {
    flex-direction: row-reverse;
  }
}

#side-content {
  min-width: $right-col-width;
  margin: $main-spacing $main-spacing $main-spacing 0;
}

#canvas-container {
  background: $lightest;
  flex: 1;

  position: relative;
}

.simplebar-scrollbar::before {
  background-color: $lightest;
}

.simplebar-scrollbar.simplebar-hover::before, .simplebar-dragging .simplebar-scrollbar::before {
  background-color: $light;
  opacity: 0.6;
}

#layer-controller {
  display: flex;
  flex-direction: column;

  //border: 1px solid $light;
  //margin-top: 1rem;

  .tools {
    display: flex;
    align-items: center;

    flex-direction: row;
    //padding: 0.25rem 0.5rem;
    //margin-bottom: 2px;

    .section-header {
      margin-right: 1rem;
    }
  }

  .layer-list {
    min-height: 100px;
    max-height: 150px;

    .simplebar-content {
      display: flex;
      flex-direction: column;
    }
    .simplebar-track.simplebar-vertical {
      background-color: $dark;
    }
  }

  .layer {
    display: flex;

    max-width: $right-col-width - 18px; // 18 for scrollbar
    padding: 2px;

    background: $dark;
    color: white;
    border: 2px solid $light;
    box-sizing: border-box;

    font-size: 0.875rem;
    cursor: pointer;

    &.selected {
      border-color: $highlight;
      .frame-index {
        color: black;
        background: $highlight;
      }
    }

    &.layer-template {
      display: none;
    }
  }
}

#frame-controller {
  display: flex;
  // Note: More flex settings get set below, based on frames-on-left vs. frames-on-bottom

  .tools {
    display: flex;
    align-items: center;
  }

  .frame-list {
    .simplebar-content {
      display: flex;
    }
  }

  .frame {
    flex: 1 0 auto;

    position: relative;
    width: $frame-size;
    max-width: $frame-size;
    height: $frame-size;
    max-height: $frame-size;

    cursor: pointer;
    border: $frame-border-width solid $light;
    background: $lightest;

    .frame-index {
      display: flex;
      position: absolute;
      top: -#{$frame-border-width};
      left: -#{$frame-border-width};
      z-index: 2;
      width: 25px;
      height: 25px;
      justify-content: center;
      align-items: center;
      background: $light;
      color: white;
    }

    &.selected {
      border-color: $highlight;
      .frame-index {
        color: black;
        background: $highlight;
      }
    }

    &.frame-template {
      display: none;
    }
  }
}

.frames-on-left #frame-controller {
  flex-direction: row;
  margin-right: 1rem;

  .tools {
    flex-direction: column;
    margin-right: 2px;

    .section-header {
      writing-mode: vertical-rl;
      //transform: rotate(180deg);
      margin-bottom: 0.5rem;
    }
  }

  .frame-list {
    min-width: $frame-size + 2 * $frame-border-width + 18px; // 18 for scrollbar
    max-height: calc(100vh - 2 * #{$main-spacing}); // TODO This should be needed, but simplebar messes up without it

    .simplebar-content {
      flex-direction: column;
    }
    .simplebar-track.simplebar-vertical {
      background-color: $dark;
    }
  }

  .frame {
    margin-bottom: 6px;
  }
}

.frames-on-bottom #frame-controller {
  flex-direction: column;
  margin-top: 1rem;

  .tools {
    flex-direction: row;
    margin-bottom: 2px;

    .section-header {
      margin-right: 1rem;
    }
  }

  .frame-list {
    min-height: $frame-size + 2 * $frame-border-width + 18px; // 18 for scrollbar

    .simplebar-content {
      flex-direction: row;
    }
    .simplebar-track.simplebar-horizontal {
      background-color: $dark;
    }
  }

  .frame {
    margin-right: 6px;
  }
}


#preview-container {
  position: relative;
  height: $right-col-width;
  width: $right-col-width;

  background: $lightest;
}

.full {
  width: 100%;
  height: 100%;
}

.absolute-center {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.prevent-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.draggable {
  cursor: move; /* fallback */
  cursor: grab; /* W3C standards syntax, all modern browser */

  &:active {
    cursor: grabbing;
  }
}

// Hide annoying outline when keyboard is used (if you don't have a mouse, you're gunna have a bad time anyway)
:focus-visible {
  outline: none;
}

.section-header {
  color: $light;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
}

hr {
  border-color: $lightest !important;
  margin: 0.75rem 0;
}

button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  padding: 6px 4px;
  margin: 0 4px;
  display: inline-block;

  &:hover {
    background: $dark;
  }

  &:disabled {
    color: #666;
  }
}
